@media (max-width:1200px) {
    .search_bar.show {
        width: 48%;
    }
}
@media (max-width:992px) {
    .search_bar.show {
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        height: fit-content;
        padding: 2rem 2rem;
        background: #322d2d;
    }
    .bottom_header {
        position: relative;
    }
    #toggle{
        display: block;
    }
    .menu {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        width: 250px;
        height: fit-content;
        padding: 20px;
        transform: translatex(-300px);
        border-right: 2px solid gray;
        display: flex;
        gap: 20px;
        transition: all 1s cubic-bezier(1, 0, 0, 1);
        z-index: 999;
    }

    .menu ul li {
        display: block;
        margin: 0;
        margin-top: 20px;
    }

    .menu .menu__icon {
        display: block;
    }
    .menu.active {
        transform: translatex(0) !important;
    }

    .guarantee_main{
        flex-wrap: wrap;
    }
    .guarantee_box {
        width: 49%;
        margin-bottom: 1.5rem;
    }
    .guarantee_main h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .product_details .image_box img{
        margin: auto;
    }
    .product_details .common_btn{
        margin: auto;
    }
    .counter-box {
        text-align: center;
    }
    .common_section {
        padding: 4rem 0rem;
    }

}


@media (max-width:768px){
    .common_section {
        padding: 3rem 0rem;
    }
    .banner .item_box {
        text-align: center;
    }
    .banner .item_box h3{
        margin-bottom: 0;
        font-size: clamp(3.2rem, 5.3vw, 7.2rem);
    }
    .testimonial_section swiper{
        padding-bottom: 5rem;
    }
    .testimonial_section .common_nav {
        top: 96%;
    }
    .common_nav {
        height: 3rem;
        width: 3rem;
        font-size: 1.2rem;
    }
    .testimonial_section .swiper-button-prev.common_nav {
        left: auto;
        right: 14%;
    }
}
@media (max-width:576px) {
    .guarantee_box {
        flex-direction: column;
        align-items: center !important;
        width: 100%;
        margin-bottom: 1.8rem;
    }
    .guarantee_main h3,
    .guarantee_main p {
        text-align: center;
    }
    .product_details .feachers_box {
        min-height: 13.9rem;
        border-radius: 1rem;
    }
    .section_title {
        font-size: clamp(2.5rem, 3.5vw, 4rem);
    }
    .incredible_box {
        font-size: clamp(2.4rem, 2.5vw, 3.6rem);
        border: 1px solid #DEA453;
        margin-top: 5rem;
        border-radius: 1rem;
    }
    .common_btn {
        padding: 8px 30px;
        font-size: 1.6rem;
    }
    .flavors label {
        min-width: 30%;
    }
    .flavors label span.best-seller {
        padding: 2px 5px;
        font-size: .8rem;
    }
    .subscription .box img {
        height: 7rem;
        width: auto;
        margin: auto;
        display: table;
    }
    .logo img {
        height: 2.3rem;
    }
    .top_header p {
        font-size: 12.16px;
    }
    .banner h1 {
        font-size: clamp(3.4rem, 4vw, 5.6rem);
    }
    .banner .rating {
        font-size: clamp(1.1rem, 1.3vw, 1.6rem);
        margin: auto;
    }
    .banner .rating span {
        padding: .3rem 1rem;
        border-radius: 5rem;
        margin-right: .5rem;
    }
    .banner .rating span i {
        font-size: 1.2rem;
        margin-right: .2rem;
    }
    .banner h1 {
        font-size: clamp(3.2rem, 4vw, 5.6rem);
        text-align: center;
    }
    .banner .common_btn{
        margin: auto;
    }
    .subscription .box {
        border-radius: 6px;
        padding: 5px;
    }
    .subscription_box {
        border-radius: 1rem;
        padding: clamp(2rem, 4.7vw, 6rem) clamp(2rem, 5vw, 7rem);
    }
    .signup_box {
        border-radius: clamp(1rem, 1.5vw, 1.5rem);
        padding: clamp(2rem, 4.7vw, 6rem) clamp(1rem, 5vw, 7rem);
        height: clamp(40rem, 30vw, 65rem);
    }
    .signup_box br{
        content: '';
    }
}

@media (max-width:400px) {
    .common_btn {
        padding: 7px 26px;
        font-size: 1.6rem;
    }
    .logo img {
        height: 2rem;
    }
    .search_icon {
        font-size: 2.2rem;
    }
    .incredible_box {
        font-size: clamp(2rem, 2.5vw, 3.6rem);
    }
    
}
